<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Integração Batizado</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Integração Batizado</a>
            </div>
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell"></i> <b class="caret"></b><br /><span id="spanBadge" class="badge badge-notify"></span></a>
                    <ul id="ulBadges" class="dropdown-menu alert-dropdown">
                        @*<li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>*@
                    </ul>
                </li>
                
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo" class="collapsed" aria-expanded="false"> Produto <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse" aria-expanded="false" style="height: 0px;">
                            <li>
                                @Html.ActionLink("Anunciar", "Announce", "Product", new { code = Request.QueryString["code"] }, null)
                            </li>
                            <li>
                                @Html.ActionLink("Meus Produtos", "Main", "Product", new { code = Request.QueryString["code"] }, null)
                            </li>
                            <li>
                                @Html.ActionLink("Pesquisar", "Search", "Product", new { code = Request.QueryString["code"] }, null)
                            </li>
                        </ul>
                        @Html.ActionLink("Perguntas e Respostas", "QuestionAnswer", "QuestionAnswer", new { code = Request.QueryString["code"] }, null)
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        @RenderBody()

        <div class="modal fade" id="mensagemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 100001;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="tituloMensagemModal"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-success" role="alert">
                            <h4 id="conteudoMensagemModal"></h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="botaoOkMensagemModal" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="mensagemModalErro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 100001;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="tituloMensagemModalErro"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger" role="alert">
                            <h4 id="conteudoMensagemModalErro"></h4>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="botaoOkMensagemModal" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- /#wrapper -->
        <!-- jQuery -->
        <script src="~/js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="~/js/bootstrap.min.js"></script>

        <script>
            $(document).ready(function () {
                if ('@TempData["message"]' != '') {
                    var mensagem = '@TempData["message"]';
                    exibirMensagem("Mensagem", mensagem);
                }

                updateBadge();
            });

            if ('@TempData["error"]' != '') {
                var erro = '@TempData["error"]';
                exibirMensagemErro("Mensagem de Erro", erro);
            }

            function exibirMensagem(titulo, conteudo) {
                $("#tituloMensagemModal").html(titulo);
                $("#conteudoMensagemModal").html(conteudo);
                $("#mensagemModal").modal('show');
            }

            function exibirMensagemErro(titulo, conteudo) {
                $("#tituloMensagemModalErro").html(titulo);
                $("#conteudoMensagemModalErro").html(conteudo);
                $("#mensagemModalErro").modal('show');
            }

            function updateBadge() {
                var obj = $("#spanBadge");
                var obj_ul = $("#ulBadges");

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Bagde", "Home")',
                    cache: false,
                    dataType: 'json',
                    success: function (result) {
                        obj.text(result.Cont);
                        obj_ul.html(result.Html);
                    }
                });
            }

        </script>